.cart{
  margin: 1rem;
  padding: 1rem;
  display: flex;
}

.cart-header{
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img{
  width: 5rem;
}

.cart-items li{
  display: flex
}

.cart-items li div{
  padding: .5rem;
}

.cart-items li div:last-child{
  flex: 1;
}

.right{
  text-align: right;
}

.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total > div{
  font-size: 2rem;
}

.total > div, 
.total > button{
  flex: 1
}

/* checkout container */
form{
  width: 100%;
}
.form-container{
  width: 100%;
  padding: 0;
  list-style: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input{
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
}