@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products li{
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img{
  max-width: 37rem;
  max-height: 37rem;
}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button{
  text-align: center;
  flex: 1;
}

.product-price div{
  font-size: 2rem;
}

.button{
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover{
  border: 0.1rem #808080 solid;
}

.button.primary{
  background-color: #f0c040;
}

.product-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img{
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description{
  flex: 1 1;
  margin: 1rem;
}

.close-modal{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}
