@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

body, input, select, textarea, button{
  font-size: 1.6rem;
}

a{
  text-decoration: none;
  color: #203040;
}

.grid-container{
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover{
  color: #ff8000;
}

header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: .5rem;
}

header a{
  color: #ffffff;
  text-decoration: none;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* Main Content */

.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem;
}

.sidebar{
  flex: 1 20rem;
}